<%= render 'shared/errors' %>
<%= form_with(model: @article, local: true) do |f| %>
<center>
  <div class="container row justify-content-center background-cardheader p-4 shadow mb-5 rounded">
    <div class="mb-3 col-8">
      <%= f.label :title, class: 'form-label card-title' %>
      <%= f.text_field :title, class: 'form-control shadow', placeholder: "Title of article" %>
    </div>
    <div class="mb-3 col-8">
      <%= f.label :description, class: 'form-label card-title' %>
      <%= f.text_area :description, class: 'form-control shadow', placeholder: "Description of article" %>
    </div>
    <div class="col-8">
        <%= f.submit class: 'btn btn-outline-dark ' %>
    </div>
  </div>
</center>
<% end %>
<center>
  <%= link_to '[ Return to Articles Listing ]', articles_path, class: 'text-lighter' %>
</center>